*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
}


.first_div{
background: linear-gradient(180deg, rgba(120,87,255,1) 0%, rgba(46,43,233,1) 39%);
display: flex;
flex-direction: column;
align-items: center;
height: 45vh;
text-align: center;
justify-content: space-around;
color: white;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}


.number{
font-size: 40px;
}

.sub_ft{
padding: 33px 45px;
clip-path: circle(50% at 50% 50%);
background: linear-gradient(0deg, rgba(52,20,217,0.3617822128851541) 4%, rgba(55,26,214,0.6530987394957983) 21%);

}

.sub_ft_2{
width: 80%;
color: rgba(255, 255, 255, 0.700);
}

.second_div{
height: 55vh;
display:flex;
flex-direction:column;
align-items: center;
justify-content: space-around;
}


.you{
    color: rgba(255, 255, 255, 0.750);
}

.items{
display: flex;
flex-direction: row;
width: 80%;
padding: 10px 20px;
border-radius:10px;
align-items: center;
justify-content: space-around;
}

#red{
    background-color: rgba(255, 0, 0, 0.050);
    color:hsl(0, 100%, 67%) ;    
}

#green{
    background-color: rgba(0, 128, 0, 0.050);
    color: hsl(166, 100%, 37%) ;
}

#blue{
    background-color: rgba(0, 0, 255, 0.050);
    color:  hsl(234, 85%, 45%);
}

#yellow{
    background-color: rgba(255, 255, 0, 0.050);
    color:  hsl(39, 100%, 56%) ;
}

button{
border-radius: 20px;
width: 80%;
padding:10px 0px;
color: white;
background-color: hsl(224, 30%, 27%);
font-weight: 700;
border: 0px;
}

.float{
width: 60%;
display: flex;
flex-direction: row;
justify-content: end;
}


.nero{
    color:hsl(224, 30%, 27%);
}


.grigio{
color:hsla(224, 30%, 27%, 0.596);
}


.sum {
width: 80%;
flex-direction: row;
justify-content:left;
color: hsl(224, 30%, 27%);
}


@media (min-width:1200px) {

body{
display: flex;
justify-content: center;
align-items: center;  
height: 100vh;
}

.div{
display: flex;
flex-direction: row;
align-items: center;
}

.first_div{
width:50%; 
border-radius: 30px;
height: 437px;
}


.second_div{
    width: 50%;
    
}

   
}